:root {
	--main-color: #6366F1;
	--hover-color: rgb(53, 53, 209);
	--error-color: rgb(219, 27, 27);
}

.projectList {
	margin: 0px auto;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	height: fit-content !important;
}

.projectSection {
	margin: auto !important;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.primaryBackground {
	color: white !important;
	background-color: var(--main-color);
}

.projectBlock {
	width: 80vw;
}

.projectTitle {
	margin-top: 10px;
	font-size: 24px;
}

.projectDescription {
	text-align: start;
	text-indent: 10px;
	font-size: 16px;
}

.projectDescriptionList {
  	list-style-type: decimal; /* Use 'circle' or 'square' for different styles */
	margin-left: 30px;
}

.projectDescriptionList li::marker {
    font-size: 16px; /* Adjust the value (e.g., px, em, %) to your preference */
}

.projectContent {
	display: flex;
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
	margin-top: 10px;
	min-height: 220px;
}

.projectVideo {
	width: 40vw;
}

.projectLink {
	font-weight: 600;
}

.videoFile {
	height: fit-content;
	width: inherit;
	height: 400px;
	border-radius: 10px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, .2), 0px 2px 2px 0px rgba(0, 0, 0, .14), 0px 1px 5px 0px rgba(0, 0, 0, .12);
}

@media(min-width: 1070px) {
	.projectList {
		height: 200px;
	}
}

@media(max-width: 1070px) {
	.projectList {
		display: flex;
		flex-direction: column;
		width: inherit;
		height: 600px;
	}

	.videoFile {
		width: 280px;
	}

	.projectContent {
		flex-direction: column;
	}
}

@media(min-width: 700px) {
	.projectDescription {
		padding-left: 10px;
	}
}

@media(max-width: 700px) {
	.videoFile {
		width: 280px;
	}

	.projectContent {
		flex-direction: column;
	}
}

@media(max-width: 500px) {
	.projectBlock {
		padding-bottom: 15px;
	}

	.projectList {
		margin-top: 20px;
		height: fit-content;
	}
}
